@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Octopus Training!</h1>
    <p>Learn about <a href="https://octopus.com/docs">DevOps and CI/CD.</a></p>
</div>
